:root {
  --main-color: #3498db;
  --main-color-deep: #2980b9;
  --main-color-light: #5dade2;
  --main-color-lighter: #b2daff;
}

body {

  margin: 0;
  padding: 0;

}

#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  min-height: 50%;
  aspect-ratio: 1 / 1;
  background-color: var(--main-color-lighter);
}

#anchor{
  width: 0;
  height: 0;
}

#anchor .rhombus {
  transition: filter 0.2s ease-in-out;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#controls button{
  transition: background-color 0.2s ease-in-out;
  margin: 0px 10px 0px 10px;
  padding: 5px 10px 5px 10px;
  border: 2px solid var(--main-color-deep);
  background: var(--main-color-light);
  border-radius: 7px;
  font-size: 19px;
}

#controls button:hover{
  background: var(--main-color-lighter);
}